/*
 * Basic Setup
 */
html {
  font-family: arial,helvetica,sans-serif;
}

/*
 * Thread Boxes
 */
div.thread {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 200px;
  overflow: hidden;
  vertical-align: top;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  margin: 5px;
}

/*
 * Formatting of Thread Boxes
 */
div.thread > div.text > div.title > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
}

div.thread > div.image {
  display: inline-block;
  width: 190px;
  height: 200px;
  overflow: hidden;
  background-color: black;
  cursor: pointer;
}

div.thread > div.image > a > img {
  min-width: 200px;
  min-height: 200px;
}

div.thread > div.text {
  display: inline-block;
  width: 190px;
  height: 200px;
  overflow: hidden;
}

div.thread > div.origlink {
  position:absolute;
  bottom: 0px;
  right: 0px;
}

div.thread > div.origlink > a {
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 0px 20px 20px;
  border-color: transparent transparent lightgray;
}

/*
 * Popups for errors and Posts
 */
div.posts > div.layer,
div.error > div.layer {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.5;
}

div.posts > div.layer {
  background-color: black;
}

div.error > div.layer {
  background-color: darkred;
}

div.posts > div.content,
div.error > div.content {
  position: fixed;
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  margin: 5px;
  padding: 5px;
}

div.posts > div.content {
  top: 20px;
  bottom: 20px;
  left: 100px;
  right: 100px;
  overflow-y: scroll;
}

div.error > div.content {
  top: 80px;
  bottom: 80px;
  left: 150px;
  right: 150px;
}

/*
 * Formatting of posts
 */
div.posts > div.content > div.post {
  clear: both;
  border-top: 5px groove lightblue;
  padding-top: 10px;
  padding-bottom: 15px;
}

div.posts > div.content > div.post > div.meta {
  font-size: 0.6em;
  margin-right: 5px;
  margin-left: 15px;
  float: right;
}

div.posts > div.content > div.post > div.image {
  float: left;
  margin-right: 5px;
}

div.posts > div.content > div.post > div.text .quote {
  color: darkgreen;
}
